.time-last-sold{
    color: pink;

    display: flex;
    flex-direction: row;
}

.summary-of-item{
    color: lightpink;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 10px;
}

.normal-quality {
    display: flex;
}

.high-quality {
    display:flex;
}